<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduateDesign.dao.StudentInfoMapper">
    <resultMap id="studentMap" type="com.graduateDesign.vo.StudentVo">
        <id column="id" property="id"/>
        <result column="stu_name" property="stuName"/>
        <result column="password" property="password"/>
        <result column="stu_no" property="stuNo"/>
        <result column="major" property="major"/>
        <result column="name" property="majorName"/>
    </resultMap>
    <select id="getAllStudent1" resultType="com.graduateDesign.entity.StudentInfo">
        select * from student_info;
    </select>

    <select id="test1" resultType="com.graduateDesign.entity.StudentInfo">
        select * from student_info where stu_no = '2020218000';
    </select>
</mapper>
